<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @code.code %>
</p>

<p>
  <b>Productid:</b>
  <%= @code.productId %>
</p>

<p>
  <b>Amount:</b>
  <%= @code.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @code.description %>
</p>

<p>
  <b>Currency:</b>
  <%= @code.currency %>
</p>

<p>
  <b>Organization:</b>
  <%= @code.organization %>
</p>

<p>
  <b>Email:</b>
  <%= @code.email %>
</p>

<p>
  <b>Support Contact:</b>
  <%= @code.support_contact %>
</p>

<p>
  <b>Support Phone:</b>
  <%= @code.support_phone %>
</p>


<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
